/BiblioE.v12.suo
/_Docs/~$1.2 - T2 - EP1 - US2 - Cadastrar Idiomas.docx
/App/ProjectBiblioE.CrossCutting.IoC/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.CrossCutting.Resource/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.Domain/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.Infra.Data/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.App/bin/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.App/obj/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.App/Properties/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.App/Sumário do OneNote.onetoc2
/App/ProjectBiblioE.Presentation.WinForms/Sumário do OneNote.onetoc2
/App/Sumário do OneNote.onetoc2
/TestResults/Deploy_Edder e Bruh 2017-01-21 11_29_44/Sumário do OneNote.onetoc2
/TestResults/Deploy_Edder e Bruh 2017-01-21 11_30_09/Sumário do OneNote.onetoc2
/TestResults/Sumário do OneNote.onetoc2
/_Docs/Sumário do OneNote.onetoc2
/Sumário do OneNote.onetoc2
/.vs
/TestResults
